<?xml version="1.0"?>
<launch>
        
    <node pkg="raw_base_placement" type="placement_wrt_object" name="raw_base_placement" ns="raw_base_placement"/>
    
    <!-- navigation -->
	<include file="$(find raw_2dnav)/ros/launch/sim/2dnav_sim.launch" />	

    <!-- manipulation -->
	<include file="$(find raw_arm_navigation)/ros/launch/simple_manipulation.launch" />	

	<!-- script server -->
	<include file="$(find raw_script_server)/launch/script_server.launch" />

	<!-- perception 
	<include file="$(find raw_object_finder)/ros/launch/object_segmentation.launch" /> --> 

	<!-- load objects into gazebo -->
	<include file="$(find raw_gazebo_objects)/ros/launch/simulation_objects.launch" />

</launch>
