.project
.cproject
*.pyc
*.so
bin/
build/
.pydevproject
.vim
.clang_complete
.metadata
*.*~
*~
msg_gen
srv_gen
*.cfgc
CMakeFiles
CMakeCache.txt
stack.xml.bak
*.aux
*.log
*.toc
/edufill_sw/edufill_common/edufill_msg/src/edufill_msg/msg/_CartesianPoseStamped.py
