<?xml version="1.0"?>
<launch>
        <!-- base components -->
    	<include file="$(find edufill_bringup)/robots/robot.launch" />

	<!-- upload robot and env params -->
	<include file="$(find edufill_default_config)/upload_param.launch" />
	<include file="$(find edufill_env_config)/upload_param.launch" />


	<!-- navigation -->
	<include file="$(find edufill_2dnav)/ros/launch/sim/2dnav.launch" />

        <!-- manipulation -->
		<include file="$(find edufill_arm_cmds)/launch/simple_manipulation.launch" />

        <!-- perception 
		<include file="$(find edufill_object_detection)/ros/launch/object_segmentation.launch" />-->

        <!-- objects 
        <include file="$(find edufill_gazebo_objects)/ros/launch/simulation_objects.launch" /> -->

</launch>
