<?xml version="1.0"?>
<launch>
        <!-- base components -->
	<param name="/use_sim_time" value="true" />
    	<include file="$(find edufill_bringup_sim)/robots/robot.launch" />

	<!-- navigation -->
	<!--<include file="$(find edufill_2dnav)/ros/launch/sim/2dnav_sim.launch" />-->

	<include file="$(find edufill_subscriber)/launch/edufill_subscriber.launch" />

	<include file="$(find edufill_relative_movement)/launch/relative_movement.launch" />

        <!-- manipulation -->
	<include file="$(find edufill_arm_cmds)/launch/simple_manipulation.launch" />

</launch>
