<?xml version="1.0"?>
<launch>
    <env name="ROS_HOME" value="$(find edufill_object_detection)"/>
    <arg name="launch_openni" default="false" />
    <arg name="hsv_file" default="min_max_hsv.yaml" />
    <group if="$(arg launch_openni)">
        <include file="$(find simple_pcl)/launch/openni.launch" />
    </group>
    <node pkg="edufill_object_detection" type="cube_color_detector.py" name="cube_color_detector" output="screen">
            <rosparam command="load" file="$(find edufill_object_detection)/params/params.yaml" />
            <rosparam command="load" file="$(find edufill_object_detection)/params/$(arg hsv_file)" />
            <!--remap from="/tower_cam3d/depth_registered/points" to="/camera/depth_registered/points"/-->
            <!--remap from="/tower_cam3d/rgb/image_color" to="/camera/rgb/image_rect_color" /-->
    </node>
</launch>
