<?xml version="1.0"?>
<launch>	
	
   <!-- NXT -->
  <include file="$(find edufill_bringup)/components/nxt/nxt_arm.launch" />
	<rosparam param="number_of_arm_joints">3</rosparam>
	<node name="arm_controller_handler" pkg="edufill_arm_cmds" type="arm_controller_handler.py" />  

  <!-- upload default params for nxt-arm-->
  <include file="$(find edufill_default_config)/$(env ROBOT)/upload_param.launch" />

  <!-- Parameter for States aggregator -->
  <param name="mobile" value="false" type="String" />
  <!-- State aggregator -->
  <include file="$(find edufill_bringup)/components/nxt/joint_states_aggregator.launch" />
  
  <!-- Controller -->
  <!-- POSITION CONTROLLER -->
  <include file="$(find edufill_bringup)/components/nxt/arm_controller.launch" />

  <!-- TF publisher -->
  <include file="$(find edufill_bringup)/components/nxt/arm_publisher.launch" />

  <!-- RVIZ -->
  <include file="$(find edufill_bringup)/components/nxt/rviz_arm.launch" />

  <!-- nxt arm ik-->
  <include file="$(find edufill_nxt_arm_geometrical_solution)/launch/nxt_ik_geometrical_solution.launch" />


</launch>
