<?xml version="1.0"?>


<robot name="maze" static="true">

	<link name="maze">
		<inertial>
			<origin xyz="0 0 1"/>
			<mass value="10.0"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
		<collision name="room_collision">
            		<geometry>

                		<mesh filename="package://edufill_gazebo_world/common/worlds/edufill_maze.dae" scale="1 1 1"/>
            		</geometry>
        	</collision>
		<visual>
			<geometry>
				<mesh filename= "package://edufill_gazebo_world/common/worlds/edufill_maze.dae" scale="1 1 1"/>
			</geometry>
		</visual>
	</link>
  <gazebo reference="maze">
	<material>Gazebo/White</material>
	<selfCollide>false</selfCollide>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
</robot>
