<?xml version="1.0"?>
<launch>
	
	<!-- upload robot and env params -->
	<include file="$(find edufill_default_config)/upload_param.launch" />
	<include file="$(find edufill_env_config)/upload_param.launch" />

    <!-- start gazebo without GUI and load environment -->
	<include file="$(find edufill_gazebo_world)/ros/launch/$(env ROBOT_ENV).launch">
		<arg name="gazebo_arguments" value="-g" />
	</include>

    <!-- load robot into gazebo -->
    <include file="$(find edufill_bringup_sim)/robots/$(env ROBOT).launch" />
    	
</launch>
