<?xml version="1.0"?>
<launch>
	
	<include file="$(find youbot_description)/launch/control/youbot_gripper_control.launch" />

	<include file="$(find youbot_description)/launch/control/youbot_arm_control.launch" />

	<include file="$(find edufill_bringup_sim)/components/arm.launch" />	

    <include file="$(find youbot_description)/launch/control/youbot_base_control.launch" />
		
</launch>
	
