<?xml version="1.0"?>

<launch>

  <!-- NXT -->
  <node pkg="nxt_ros" name="nxt_ros_arm" type="nxt_ros.py"  output="screen" respawn="true">
    <rosparam command="load" file="$(find nxt_univr_data)/yaml/lego_single_motor.yaml" />
  </node>

  <!-- JS AGG -->
  <param name="mobile" value="false" type="String" />
  <node pkg="nxt_univr_state_publishers" type="joint_states_aggregator" name="joint_states_aggregator" /> 
  
   
</launch>
