<?xml version="1.0"?>

<launch>
  
  <!-- NXT -->
  <include file="$(find nxt_univr_data)/launch/modules/nxt_arm.launch" />
  
  <!-- Parameter for States aggregator -->
  <param name="mobile" value="false" type="String" />
  <!-- State aggregator -->
  <include file="$(find nxt_univr_data)/launch/modules/joint_states_aggregator.launch" />
  
  <!-- Controller -->
  <!-- POSITION CONTROLLER -->
  <include file="$(find nxt_univr_data)/launch/modules/arm_controller.launch" />

  <!-- TF publisher -->
  <include file="$(find nxt_univr_data)/launch/modules/arm_publisher.launch" />

  <!-- RVIZ -->
  <include file="$(find nxt_univr_data)/launch/modules/rviz_arm.launch" />

</launch>
